/* color pallete #B1B1B1 #EFEFEF #1A1A1A #D1D1D1 #3E3E3E*/

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


body {
	font-family: 'Lexend Deca', sans-serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: url('https://i.imgur.com/hODPKx9.jpg');
	background-position: 50% 60%;
	background-size: cover;
}

h1 {
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}



.hello {
	height: 60%;
	font-weight: bold;
	text-shadow: 1px 2px #000000;
}


p {
	color: #ffffff;
	font-size: 2em;
}

.hello a {
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	text-decoration: none;
	color: #ffffff;
	font-size: 26px;
	position: relative;
	font-weight: bold;
}

#github a{
	color: #ffffff;
	font-size: .5em;
	text-decoration: none;
	position: absolute;
	bottom: 0%;
	text-align: center;
}

#mail:hover{
	transition: .3s;
	color: #B1B1B1;
	text-shadow: 1 2px #000000;
}

#resume:hover{
	transition: .3s;
	color: #B1B1B1;
	text-shadow: 1 2px #000000;
}

#github:hover{
	transition: .3s;
	color: #B1B1B1;
	text-shadow: 1 2px #000000;
}
