/* Palette: #000000, #14213D, #FCA311, #E5E5E5, #FFFFFF 
https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff */
a:link{
	color: #14213d;
	text-decoration: none;
}
a:visited{
	color: #14213d;
	text-decoration: none;
}
a:hover{
	color: #4f7cac;
	text-decoration: none;
}
a:active{
	color: #4f7cac;
	text-decoration: none;
}
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
.break{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #fca311;
	font-size: 28px;
}
h1 {
	font-size: 32px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
	color: #14213d;
	font-size: 56px; 
}
p {
	color: #14213d;
	font-size: 36px;
}

.hero a {
	text-align: center;
	font-size: 24px;
	
}
html{
  /* background-image: url('https://i.imgur.com/hODPKx9.jpg');*/
	background-size: cover; 
	background-color: #e5e5e5
}


.hero {
	padding: 225px 0;
	margin: 30px;
	text-align: center;
	/* text-shadow: 0 2px #000000; */
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

.trans_box{
	background-color: #4F7CAC;
	background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.6);
	position: absolute;
  top: 220px;
  left: 0;
  height: 40%;
  width: 100%;
}



.feet {
	color: #ffffff;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}

